.button1 {
    width: 100px;
    height: 70px;
    background-color: dimgray;
    border-radius: 5px;
    font-size: 15px;
    color: aliceblue;
}

.button1::before {
    content: "⭐ ";
    font-size: 15px;
}

.text {
    background-color: teal;
    color: black;
    width: fit-content;
}

.text::first-line {
    font-weight: bold;
    color:teal;
    background-color: black;
    width: fit-content;
}

.text::before {
    content: "⭐";
}

.text::after {
    content: "⭐";
}