* {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: darkslategrey;
    position: fixed;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    right: 0;
    top: 0;
    left: 0;
}

.itens {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.itens li {
    list-style: none;
}

.logo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 50px;
    padding: 20px;
}

a {
    text-decoration: none;
    color: black;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 100px;
}

.item {
    background-color: burlywood;
    width: 400px;
    height: 400px;
    color: black;
    text-align: center;
    border: 2px solid turquoise;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;

}

.item img{
    width: 300px;
    height: 300px;
}

p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}